.terminal {
    margin-top: 25px;
    margin-bottom: 25px;
}

.slide pre code {
    line-height: 1.6em;
    font-size: 0.9em;
}

.z-top {
    z-index: 1 !important;
}

.slide.gray {
    background-color: #eeeeee;
}

.shadowed {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.3);
}

.highcharts-credits {
    color: white !important;
    fill: white !important;
}

.slide .shout-mini {
    font-size: 60px;
    line-height: 1.3;
}
