a.note {
    font-size: 0.6em;
    bottom: calc(var(--progress-size) * 2);
    left: 100px;
    line-height: 1.2;
    position: absolute;
}

.slide {
    background: rgb(45, 45, 45);
    color: rgba(255, 255, 255, 0.9);
}

.slide .shout {
    font-size: 4em;
}

.slide h2 {
    color: rgb(255, 255, 255);
}

.slide.white {
    background: white;
    color: #000000;
}

.slide.white h2 {
    color: #585a5e;
}

.slide .iphone-picture {
    width: 338px;
    top: 45px;
}

.slide .iphone-frame {
    width: 500px;
    top: 20px;
}

.slide .app-icon {
    width: 120px;
}

.slide pre code {
    line-height: 1.6em;
    font-size: 0.9em;
}

.slide .strike {
    text-decoration: none;
    position: relative;
}

.slide .strike::after {
    content: '';
    display: block;
    background-color: red;
    width: calc(100% + 10px);
    height: 7px;
    position: absolute;
    top: 50%;
    left: -5px;
    transform: rotate(-4deg);
}
