.terminal,
.terminal *,
.terminal::before,
.terminal::after {
    box-sizing: border-box;
}

.terminal {
    font-size: 1em;
    line-height: 1.2em;
    width: 100%;
    min-height: 300px;
    margin-top: 25px;
    background-color: #0f3642;
    color: #b4c4c6;
    padding: 10px;
    border-radius: 0 0 7px 7px;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 30px 1px rgba(0, 0, 0, 0.2);
}

.terminal::before {
    border-radius: 7px 7px 0 0;
    position: absolute;
    content: attr(data-content);
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    padding: 0 80px;
    white-space: nowrap;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #4c3436;
    font-size: 0.7em;
    background: linear-gradient(0deg, #d8d8d8, #ececec);
    top: -25px;
    left: 0;
    font-family: "PT Sans", sans-serif;
}

.terminal::after {
    content: "";
    position: absolute;
    top: -18px;
    left: 10px;
    width: 12px;
    height: 12px;
    background: #f95c5b;
    border-radius: 100%;
    box-shadow: 0 0 0 1px #da3d42, 22px 0 0 0 #fabe3b, 22px 0 0 1px #ecb03e, 44px 0 0 0 #38cd46, 44px 0 0 1px #2eae32;
}

.terminal p {
    margin: 0;
    font-family: 'Fira Code', "PT Sans", sans-serif;
}

.terminal p::before {
    color: #5ed7ff;
    content: '~$ ';
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.slide pre code {
    line-height: 1.6em;
    font-size: 0.9em;
}

.shower {
    font-family: "HelveticaNeueCyr", 'PT Sans', sans-serif;
    font-weight: 200;
}

.slide code, .slide kbd, .slide samp {
    font-family: 'Fira Code', 'PT Mono', monospace;
}

.caption h1,
.slide h2 {
    font-family: "HelveticaNeueCyr", 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    color: rgb(51,51,51);
}

.slide::after {
    background: var(--color-grey);
    height: 2em;
    width: 2em;
    line-height: 2.1em;
    border-radius: 2em;
    padding-top: 0;
    margin-top: 15px;
    left: 930px;
    font-size: 18px;
}

a.note {
    font-size: 0.6em;
    bottom: calc(var(--progress-size) * 2);
    left: 100px;
    line-height: 1.2;
    position: absolute;
}

.slide h2.title {
    background: #E6E6E6;
    color: #3A3A3A;
    display: inline-block;
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 0.2em 0.6em 0.1em 100px;
    border-radius: 0 0.6em 0.6em 0;
    z-index: 1;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.5);
    font-weight: 200;
}

.slide.apple {
    background: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
}

.slide.apple h2.shout {
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 4em;
}

.slide {
    background: rgb(250, 250, 250);
    color: rgb(51, 51, 51);
}

.slide.white {
    background: white;
}

.slide th {
    font-weight: 400;
}

.shower {
    --color-blue: rgb(0, 112, 201);
}

.progress::before {
    transform: none;
    border-radius: 0 var(--progress-size) var(--progress-size) 0;
}

.slide tr:not(:last-of-type) > * {
    background-image: linear-gradient( to top, var(--color-line) 0.03em, transparent 0.03em );
}

.terminal-windows {
    border-radius: 0;
    border: 5px solid #6BCAE7;
    background: black;
}

.terminal-windows::before {
    background: #6BCAE7;
    height: 2em;
    outline: 5px solid #6BCAE7;
    border-radius: 0;
    line-height: 2em;
}

.terminal-windows::after {
    top: -29px;
    right: 5px;
    width: 40px;
    height: 25px;
    background: #C15B53;
    border-radius: 0;
    box-shadow: 0 0 0 1px #23444F, -30px 0 0 0 #6BCAE7, -30px 0 0 1px #23444F, -60px 0 0 0 #6BCAE7, -60px 0 0 1px #23444F;
    left: auto;
}

.terminal-windows p::before {
    content: '› ';
    color: #b4c4c6;
}