:root {
    --color-inactive: #ddd;
    --color-active: orange;
    --color-checked: lightsteelblue;

    --nd-render-parse-color: #fff;
    --nd-render-dom-color: #fff;
    --nd-render-cascade-color: #fff;
    --nd-render-layout-color: #fff;
    --nd-render-paint-color: #fff;
    --nd-render-composite-color: #fff;
}

.important {
    background-color: red !important;
}

.center {
    text-align: center;
}

.slide .list-header {
    font-weight: bold;
    margin-bottom: 0;
}

.slide .header-note {
    opacity: 0.5;
    font-size: small;
}

.slide .not-active-item {
    color: #999;
}

.nd-pipeline ol {
    font-size: 20px;
}

.slide pre code {
    line-height: 1.6em;
    font-size: 0.9em;
}

.slide .shout-mini {
    font-size: 80px;
}

:root {
    --primary-color: #bb3b3b;
}

.slide h2:not(.no-bg) {
    background-color: var(--primary-color);
    padding-right: 20px;
}
.slide h2:not(.no-bg)::after {
    display: none;
}

.slide::after {
    background-color: var(--primary-color);
}

.shower.list {
    background: rgba(113,40,32,.15);
}

.badge {
    background: none;
}
.badge a {
    background: var(--primary-color);
}
.caption a {
    color: var(--primary-color);
}

.slide.no-label::after {
    visibility: hidden;
} 

.slide ol li::before, .slide ul li::before {
    color: #e63838;
}

.shower.list .slide {
    box-shadow: 0 20px 50px rgba(67, 7, 7, 0.3);
}

.shower.list .slide:hover {
    box-shadow: 0 0 0 20px rgba(136, 15, 15, 0.1), 0 20px 50px rgba(136, 15, 35, 0.3);
}

.shower.list .slide.active {
    box-shadow: 0 0 0 1px #a12323, 0 0 0 20px #a11818, 0 20px 50px rgba(0,0,0,.3);
}

.progress {
    border: 10px solid var(--primary-color);
    border-right-color: transparent;
}
