@font-face {
    font-family: 'Mellwork RUS';
    src: local('Mellwork RUS'), local('Mellwork-RUS'),
        url('Mellwork-RUS.woff2') format('woff2'),
        url('Mellwork-RUS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

