@font-face {
    font-family: 'Spirits';
    src: local('Spirits RU Обычный'), local('Spirits-RU'),
        url('Spirits-RU.woff2') format('woff2'),
        url('Spirits-RU.woff') format('woff'),
        url('Spirits-RU.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

