.slide pre {
    background-color: transparent;
    padding: 0;
}

.slide pre code[class*="language-"] {
    line-height: 1.5;
    font-size: 22px;
    width: 100%;
}

.slide pre.line-numbers > code {
    margin-left: 0;
    padding-left: 0;
}

.slide .line-highlight:before,
.slide .line-highlight:after {
    content: '';
    background: transparent;
}

.slide .line-highlight {
    background: linear-gradient(to right, hsla(34, 30%, 60%, .2) 70%, hsla(34, 30%, 60%, .2));
}

.slide footer {
    line-height: 1.5;
}

.slide .shout {
    font-size: 80px;
    padding: 0 20px;
}

.slide .shout-mini {
    font-size: 50px;
    line-height: 1.3;
}

.slide .shout-light {
    color: white;
    text-shadow: 0 0 2px rgb(39, 17, 11), 5px 3px 10px rgba(39, 17, 11, 0.7);
}

.slide .secondary {
    color: #777;
}

.slide .strike {
    text-decoration: none;
}

.slide .strike::after {
    content: '';
    display: block;
    background-color: red;
    width: 100%;
    height: 7px;
    position: absolute;
    top: 50%;
    left: -5px;
    transform: rotate(-4deg);
}

img[src=''] {
    background: yellow;
    padding: 10px;
}

.slide .demo-link {
    position: absolute;
    bottom: 30px;
    right: 0;
    padding: 5px 100px 5px 5px;
    font-size: 12px;
    background: rgba(0,0,0,1);
    box-shadow: 0 0 5px 0 rgba(255,255,255,0.5);
    color: white;
    opacity: 0.5;
}

.link-github::before {
    content: '';
    display: inline-block;
    height: 1.3em;
    width: 1.6em;
    background-image: url(./pictures/github.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 0.3em;
    text-decoration: none;
    background-color: white;
    top: 0.3em;
    position: relative;
}

.link-codepen::before {
    content: '';
    display: inline-block;
    height: 1.3em;
    width: 1.6em;
    background-image: url(./pictures/codepen.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 0.3em;
    text-decoration: none;
    background-color: white;
    top: 0.3em;
    position: relative;
}
