@font-face {
    font-family: Yandex Sans Text Web;
    font-weight: 100;
    src: url(../src/shower/themes/yandex2/fonts/yandex-sans-text-web-thin.woff)
        format("woff");
}

@font-face {
    font-family: Yandex Sans Text Web;
    font-weight: 300;
    src: url(../src/shower/themes/yandex2/fonts/yandex-sans-text-web-light.woff)
        format("woff");
}

@font-face {
    font-family: Yandex Sans Text Web;
    font-weight: 400;
    src: url(../src/shower/themes/yandex2/fonts/yandex-sans-text-web-regular.woff)
        format("woff");
}

@font-face {
    font-style: italic;
    font-family: Yandex Sans Text Web;
    font-weight: 400;
    src: url(../src/shower/themes/yandex2/fonts/yandex-sans-text-web-regular-italic.woff)
        format("woff");
}

@font-face {
    font-family: Yandex Sans Text Web;
    font-weight: 500;
    src: url(../src/shower/themes/yandex2/fonts/yandex-sans-text-web-medium.woff)
        format("woff");
}

@font-face {
    font-family: Yandex Sans Text Web;
    font-weight: 700;
    src: url(../src/shower/themes/yandex2/fonts/yandex-sans-text-web-bold.woff)
        format("woff");
}

.slide h2,
.caption h1 {
    font-family: "Yandex Sans Text Web", "PT Sans Narrow", sans-serif;
    font-weight: bold;
}

.caption {
    color: var(--color-red);
    text-shadow: none;
}

.caption a {
    color: var(--color-black);
}

.slide {
    background-color: var(--color-black);
    color: var(--color-white);
}

.slide h2 {
    color: var(--color-white);
}

.shower.list {
    background: var(--color-gray);
}

.shower.list .slide.active {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5), 0 0 0 20px var(--color-yellow),
        0 20px 50px rgba(0, 0, 0, 0.3);
}

.slide .shout {
    font-size: 3em;
}

.slide .shout a {
    background-image: linear-gradient(
        to top,
        rgba(255, 0, 0, 0.4) 0.06em,
        transparent 0.06em
    );
}

.slide s {
    text-decoration: none;
    position: relative;
    color: #aaa;
}

.slide s::after {
    content: "";
    display: block;
    background-color: var(--color-red);
    width: 102%;
    height: 0.1em;
    position: absolute;
    top: 50%;
    left: -1%;
    transform: rotate(2deg);
}

.slide::after {
    height: auto;
    width: calc(var(--ribbon-size) * 1.5);
    background-color: transparent;
    color: var(--color-white);
    background-image: linear-gradient(to left, var(--color-grey) 0 90%, transparent 90%), linear-gradient(to right, var(--color-grey) 0 90%, transparent 90%);
    background-repeat: no-repeat, no-repeat;
    background-size: 100% 50%, 100% 50%;
    background-position: 0 0, 0 50%;
    margin-top: 1em;
    margin-right: 0.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0;
    padding-bottom: 0.5em;
    left: auto;
    right: 0;
}

.slide pre code {
    line-height: 1.4;
    font-size: 0.9em;
}

.slide.title {
    background: var(--color-black);
}

.slide.title::after {
    content: "";
    background: none;
}

.slide.title h2 {
    color: var(--color-red);
    text-align: left;
    padding: 0 100px;
    box-sizing: border-box;
    font-weight: bold;
}

.shower {
    --color-red: #ff2407;
    --color-yellow: #fef502;
    --color-gray: #eaeaec;
    --color-black: #20201e;
    --color-white: #fff;

    --color-fill: rgba(88, 90, 94, 0.4);

    font-family: "Yandex Sans Text Web", "PT Sans", sans-serif;
    line-height: 1.6;
    color: var(--color-white);
}

.slide .grey {
    color: #bbb;
}

.slide ul li:lang(en)::before {
    font-size: 1.4em;
    content: "›";
    line-height: 1.15em;
    color: var(--color-yellow);
    font-weight: 300;
}

.badge a {
    color: var(--color-yellow);
    background-color: var(--color-black);
}

.slide a {
    color: var(--color-red);
}

.yellow {
    color: var(--color-yellow);
}

.slide blockquote::before {
    color: var(--color-yellow);
    opacity: 0.5;
}

.terminal,
.terminal *,
.terminal::before,
.terminal::after {
    box-sizing: border-box;
}

.cite {
    font-size: 1.5em;
}

.cite-author {
    font-size: 0.7em;
}

.slide.white {
    background-color: var(--color-white);
}

pre code.hljs {
    padding: 0 0 0 var(--slide-side);
}

.progress::before {
    background-color: var(--color-yellow);
}

.slide .opaque {
    opacity: 0.5;
}

.slide mark {
    background-color: var(--color-grey);
}

.slide .copyright {
    color: var(--color-red);
}

.slide .thin {
    font-weight: 300;
}

.shadowed {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.arrow {
    color: var(--color-yellow);
    opacity: 0.5;
}
