.shower {
    --color-blue: #78191a;
    line-height: 1.6;
}

.slide .shout {
    font-size: 5em;
}


.slide s {
    text-decoration: none;
    position: relative;
}

.slide s::after {
    content: '';
    display: block;
    background-color: red;
    width: 110%;
    height: 0.1em;
    position: absolute;
    top: 50%;
    left: -5%;
    transform: rotate(-7deg);
}

.slide::after {
    height: auto;
    width: calc(var(--ribbon-size) * 1.3);
    background-color: black;
    background-image: none;
    margin-top: 1em;
    padding-top: 0;
    border-radius: 1em;
    left: auto;
    right: 1.5em;
}

.slide h2.white {
    color: white;
    text-shadow: 0 0 0.2em black;
}

.shower.list .slide.active {
    box-shadow: 0 0 0 1px #68090a, 0 0 0 20px #78191a, 0 20px 50px rgba(0, 0, 0, 0.3);
}

